
.contact-section {
  scroll-margin-top: 100px;
  text-align: center;
  padding: 60px 0px 60px 0px;
  background-color: rgb(245, 244, 244);
  justify-items: center;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  padding: 0px 10px 0px 10px;
  gap: 15px;
  margin-top: 30px;
  justify-items: center;
}

.contact-section input,
.contact-section textarea {
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid grey;
}

#message-area {
  height: 140px;
}
