.contact-section {
  text-align: center;
  background-color: rgb(245, 244, 244, 0.5);
  padding: 30px 0px;
  justify-items: center;
}

.contact-section-contact-wrapper {
  margin: 0 auto;
}

.contact-section .title {
  margin-top: 80px;
}

.contact-section h2 {
  font-size: 2.5rem;
  font-weight: 800;
}


.contact-tag-line {
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.contact-me-links {
  display: flex;
  justify-content: center;
  align-content: center;
}

.contact-me-links a {
  text-decoration: none;
}

.linkedIn a,
.email,
.gitHub a {
  display: grid;
  align-items: center;
  padding: 0px 10px;
}

.email {
  position: relative;
}

.email-content {
  position: absolute;
  padding: 12px;
  border-radius: 12px;
  top: -50px;
  left: -100px;
  background-color: black;
}

.email-content h4 {
  color: white;
}

.contact-me-links svg {
  stroke: #b9b9c9;
  fill: #b9b9c9;
  cursor: pointer;
}

.contact-me-links svg:hover {
  stroke: #9f9fad;
  fill: #9f9fad;
  cursor: pointer;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  padding: 0px 10px 60px 10px;
  gap: 15px;
  margin-top: 30px;
  justify-items: center;
}

.contact-section input,
.contact-section textarea {
  height: 40px;
  border-radius: 10px;
  padding: 15px;
  font-size: 1rem;
  border: none;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.contact-section button {
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  font-size: 1rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: rgb(230, 230, 230);
}

.contact-section button {
  cursor: pointer;
}

#message {
  height: 140px;
}

.contact-section button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 880px) {
  .contact-section .title {
    font-size: 2rem;
  }
  .contact-tag-line {
    font-size: 1.1rem;
    padding-bottom: 20px;
  }
}


@media (max-width: 455px) {
  .contact-section .title {
    font-size: 1.8rem;
  }

  
}