
.contact-section {
  text-align: center;
  background-color: rgb(245, 244, 244, 0.5);
  padding: 30px 0px ;
  justify-items: center;

}

.contact-section .title {
  margin-top: 80px
}

.contact-section form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  padding: 0px 10px 60px 10px;
  gap: 15px;
  margin-top: 30px;
  justify-items: center;
  
}

.contact-section input,
.contact-section textarea {
  height: 40px;
  border-radius: 10px;
  padding: 15px;
  font-size: 1rem;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.contact-section button {
   height: 40px;
  border-radius: 20px;
  padding: 10px;
  font-size: 1rem;
  border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.contact-section button {
  cursor: pointer;
}

#message {
  height: 140px;
}

.contact-section button:hover {
  background-color: black;
  color: white;
}

