.navigation-bar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: grid;
  grid-template-rows: 1fr;
  text-align: start;
  background-color: #E6E6FA;
  padding: 15px 0;
}

.nav-buttons {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin: 0 auto;
  padding: 0px 20px;
}

#nav-name {
  color: black;
  padding: 10px;
  padding-left: 20px;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.2rem;
}

#nav-initials {
  display: none;
}

.nav-links {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: 0px 10px;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
}

.nav-links * {
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}
.nav-links *:hover {
  background-color: rgba(175, 175, 175, 0.25);
  border-radius: 15px;
}

