
.skills-section {
  text-align: center;
  padding: 60px 0px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  margin-top: 40px;
}

.skill-card {
  height: auto;
  width: 250px;
  border-radius: 30px;
  flex: 0 1 250px; /* Allows items to be the width of 350px and wrap properly */
  display: grid;
  grid-template-rows: auto 1fr;
}

.skill-card svg {
  width: 60%;
}