
.skills-section {
  text-align: center;
  padding: 30px 0px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.skills-section .title {
   margin-top: 120px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}

.skill-card {
  height: auto;
  width: 100%;
  max-width: 250px;
  border-radius: 30px;
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 40px 0px;
  padding: 20px;
  background-color: rgb(230, 230, 250, 0.7);
}

.skill-card h3 {
  color: black;
}

