.skills-section {
  text-align: center;
  padding: 30px 0px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.skills-section .title {
  margin-top: 120px;
}

.skills-tag-line {
  font-size: 1.3rem;
  padding-bottom: 10px;
}


.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}

.skill-card {
  height: auto;
  width: 220px;
  border-radius: 35px;
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 40px 0px;
  padding: 20px;
  background-color: rgb(230, 230, 250, 0.7);
}

.skill-card h3 {
  color: black;
  font-weight: 500;
}

@media (max-width: 540px) {
  .skills-grid {
    gap: 15px;
  }
  .skill-card {
    height: auto;
    width: 130px;
    padding: 15px;
    margin: 30px 0px;
  }

  .skill-svg svg {
    width: 70px;
    height: 70px;
  }

  .skill-text h3 {
    font-size: 1rem;
  }
}
