* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-family: "Poppins";
  color: #424242;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title-section {
  position: relative;
  flex: 0 0 80vh;
  display: flex;
  text-align: center;
  align-items: center;
  background: linear-gradient(to bottom, #e6e6fa, white);
  padding: 0px 30px 0px 30px;
}

.title {
  margin: 0 auto;
}

.title-section h1 {
  font-size: 6rem;
  font-weight: 600;
  padding: 10px;
  padding-left: 0px;
}

.title-section span {
  color: #b9b9c9;
}

.title-section button {
  margin-top: 30px;
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(230, 230, 230);
  border: 1px solid #666;
  cursor: pointer;
  color: black;
}

.title-section button:hover {
  background-color: black;
  color: white;
}

.first-line,
.second-line,
.title p,
.title button {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 0.7s ease-out forwards;
}

.first-line {
  animation-delay: 0.1s;
}

.second-line {
  animation-delay: 0.3s;
}

.title p {
  animation-delay: 0.5s;
}

.title button {
  animation-delay: 0.7s;
}

p {
  font-family: "Poppins";
  font-weight: 400;
}

.title-section p,
.projects-tag-line,
.skills-section p,
.contact-section p {
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.skills-section p,
.contact-section p {
  padding-top: 10px;
}

.animated-section {
  opacity: 0;
  transform: translateY(120px) scale(0.9);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animated-section.in-view {
  opacity: 1;
  transform: translateY(0) scale(1);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-section {
  display: grid;
  padding: 20px;
  background-color: rgb(245, 244, 244, 0.5);
  color: rgb(110, 108, 108);
}

.footer-text {
  display: grid;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 880px) {
  .title-section {
    flex: 0 0 60vh;
    padding: 0px 20px;
  }

  .title-section h1 {
    font-size: 5rem;
  }

  .title-section p,
.projects-tag-line,
.skills-section p,
.contact-section p {
  font-size: 1.2rem;
 
}

  .nav-buttons {
    padding: 0px;
  }

  .nav-links * {
    padding: 10px 5px;
  }

  .project-container {
    height: 440px;
  }

  .about-section,
  .projects-section,
  .skills-section,
  .contact-section {
    padding: 15px 0px;
  }

  .about-elements,
  .projects-section .title,
  .skills-section .title {
    margin-top: 40px;
  }
}

@media (max-width: 700px) {
  .title-section h1 {
    font-size: 4rem;
  }

    .title-section p,
.projects-tag-line,
.skills-section p,
.contact-section p {
  font-size: 1rem;
 
}
}

@media (max-width: 545px) {
  .title-section {
    flex: 0 0 40vh;
    padding: 0px 20px;
  }

  .title-section h1 {
    font-size: 3rem;
  }
}

@media (max-width: 455px) {
  .title-section h1 {
    font-size: 2.5rem;
  }

    .title-section p,
.projects-tag-line,
.skills-section p,
.contact-section p {
  font-size: 0.8rem;
 
}
}

@font-face {
  font-family: "Geist";
  src: local("GeistRegular"),
    url("./fonts/Geist/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Geist";
  src: local("GeistSemiBold"),
    url("./fonts/Geist/Geist-SemiBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Geist";
  src: local("GeistMedium"),
    url("./fonts/Geist/Geist-Medium.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: local("PoppinsBold"),
    url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: local("PoppinsMedium"),
    url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: local("PoppinsLight"),
    url("./fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Lora";
  src: local("LoraRegular"),
    url("./fonts/Lora/static/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSansRegular"),
    url("./fonts/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: local("LatoRegular"),
    url("./fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}
