* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-family: "Geist";
}


.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.overflow-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.title-section {
  position: relative;
  flex: 0 0 70vh;
   display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 235, 246);
  padding: 0px 20px 40px 20px;
  margin-bottom: 50px;
 
}

.title {
  text-align: center;
}

.title-section h1 {
  font-size: 6rem;
  font-weight: 800;
  padding: 10px;
  padding-left: 0px;
}

.title-section button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(230, 230, 230);
  border: 1px solid black;
  cursor: pointer;
  color: black;
}

.title-section button:hover {
  background-color: black;
  color: white;
}

.first-line,
.second-line,
.title p,
.title button {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

.first-line {
  animation-delay: 0.5s;
}


.title p {
  animation-delay: 1s;
}

.title button {
  animation-delay: 1.5s;
}

.title-section p,
.projects-tag-line,
.skills-section p,
.contact-section p {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.skills-section p,
.contact-section p {
  padding-top: 10px;
}

p {
  font-family: "Open Sans";
}

.animated-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.animated-section.in-view {
    opacity: 1;
    transform: translateY(0);
}



@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-section {
  padding: 20px;
  background-color: rgb(245, 244, 244);
  text-align: start;
  color: rgb(110, 108, 108);
}



@media (max-width: 580px) {
  .title-section {
    flex: 0 0 50vh; 
  }
  
  .title-section h1 {
    font-size: 5rem; 
  }
}

@font-face {
  font-family: "Geist";
  src: local("GeistRegular"),
    url("./fonts/Geist/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Geist";
  src: local("GeistSemiBold"),
    url("./fonts/Geist/Geist-SemiBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Geist";
  src: local("GeistMedium"),
    url("./fonts/Geist/Geist-Medium.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: local("PoppinsRegular"),
    url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Lora";
  src: local("LoraRegular"),
    url("./fonts/Lora/static/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSansRegular"),
    url("./fonts/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: local("LatoRegular"),
    url("./fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}




