.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0px;
  max-width: 1280px;
  margin: 0 auto;
}

.about-elements {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.about-me-text {
  width: 100%; 
  max-width: 400px; 
  padding: 35px;
  border-radius: 30px;
  min-height: 430px;
}

.about-me-text h2,
.projects-section h2,
.skills-section h2,
.contact-section h2 {
  font-size: 2.5rem;
  font-weight: 800;
}

.about-me-text p {
  font-size: 1.1rem;
  padding-top: 10px;
}

.box1 {
  background-color:rgb(230, 230, 250, 0.6);
  
}

.box2 {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);

}

.box2 p {
  padding-top: 20px;
}

.box2 svg {
  stroke: #dcdcee;
  fill: #dcdcee;
  cursor: pointer;
}

.box2 svg:hover {
   stroke: #b9b9c9;
  fill: #b9b9c9;
}


.social-links {
  padding-top: 20px;
  display: flex;
  justify-content: end;
}

.about-me-image {
  width: 100%;
  max-width: 400px;
  text-align: center;
  border-radius: 12px;
}

.about-me-image img {
  width: 100%;
  height: 430px;
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
  
  
}
@media (max-width: 580px) {
  .about-me-text {
    width: 90%;
  }

  .about-me-text h2 {
    font-size: 2rem;
  }

  .about-me-text p {
    font-size: 1rem;
  }

  .about-me-image {
    width: 90%; 
  }

  .social-links {
    justify-content: end;
  }
}
