
.projects-section {
  text-align: center;
  margin: 60px 0px 60px 0px;
    position: relative;

}

.projects-section p,
.skills-section p,
.contact-section p {
  padding-top: 10px;
}

.project-links {
  display: flex; 
  flex-wrap: nowrap; 
  gap: 60px; 
  justify-content: flex-start; 
  align-items: center;
  padding: 20px; 
  max-width: 1700px;
  margin: 0 auto;
  overflow-x: hidden; 
  overflow-y: hidden; 
}

.project-container {
  width: 350px;
  border: 2px solid black;
  margin-top: 40px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 15px;
  border-radius: 40px;
  transition: margin-top 0.5s;
  flex: 0 0 auto;
}

.project-container:hover {
  margin-top: 20px;
  cursor: pointer;
}

.project-image {
  height: 100%;
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 30px;
}

.project-text {
  padding: 20px;
  text-align: start;
}

.project-text p,
.skill-card p {
  font-size: 1rem;
  color: gray;
}

.scroll-button {
  position: absolute;
  z-index: 10;
  height: 100%;
}

#right-button {
  right: 0px
}